swagger: "2.0"
info:
  version: "1.4"
  title: "Byzanti.ne API Gateway - Powered by Liberty Block"
# during dev, should point to your local machine
host: api.byzanti.ne:8902
# basePath prefixes all resource paths
basePath: /
securityDefinitions:
  # X-API-Key: abcdef12345
  APIKeyQueryParam:
    type: apiKey
    in: query
    name: api_key
  APIKeyHeaderParam:
    type: apiKey
    in: header
    name: api_key
  # APIKeyCookieParam:
  #   type: apiKey
  #   in: cookie
  #   name: api_key
schemes:
  # tip: remove http to make production-grade
  - http
  - https
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json

# Global security (applies to all operations):
security:
  - APIKeyQueryParam: []
  - APIKeyHeaderParam: []
  # - APIKeyCookieParam: []
paths:
  /info:
    # binds a127 app logic to a route
    x-swagger-router-controller: info
    get:
      tags:
        - Base API {account,tokens,transaction,actions}
      description: Returns 'info' of the node to the calling application
      # used as the method name of the controller
      operationId: info
      # parameters:
      #   - name: api_key
      #     in: header
      #     type: string
      #     required: true
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/infoResponse"
        # responses may fall through to errors
        "400":
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /tokens:
    x-swagger-router-controller: tokens
    get:
      tags:
        - Base API {account,tokens,transaction,actions}
      description: Returns All *legit EOS Derivative Tokens Airdropped, Airgrabbed and ICO'd with an operational contract,symbol
      operationId: tokens
      # parameters:
      # - ({none})
      #  in: query
      #    description: Retrieve a list of all EOS derivative tokens
      #    required: false
      #    type: string
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/tokenResponse"
        # responses may fall through to errors
        "400":
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /tokensByAccount/{account}:
    x-swagger-router-controller: tokensByAccount
    get:
      tags:
        - Base API {account,tokens,transaction,actions}
      description: Returns All EOS and Derivative Tokens Airdropped, Airgrabbed and ICO'd that a user has in his account
      operationId: tokensByAccount
      parameters:
        - name: account
          in: path
          required: true
          type: string
        # Operation-specific security:
        # security:
        #   - APIKeyQueryParam: []
        # ##
        # security:
        #   - APIKeyHeader: []
        ##
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/tokensByAccountResponse"
        "400":
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /transfer:
    x-swagger-router-controller: transfer
    post:
      tags:
        - Transfer API {EOS & Derivative Tokens}
      description: Returns transaction response to transfer on-chain action {from account} {to account} {amount} {memo}
      operationId: transfer
      parameters:
        # - name: api_key
        #   in: query
        #   type: string
        #   description: String api_key
        - name: body
          in: body
          description: Body should encapsulate {from=Account to transfer from}, {to=Account to transfer to}, {amount=amout to transfer such as 1.0000 EOS or 1.0000 IQ},{memo=memo for the transfer which is a string such as 'UUID' or 'deposit into exchange for 78934'}
          required: true
          schema:
            properties:
              from:
                type: string
              to:
                type: string
              amount:
                type: string
              memo:
                type: string
              sig:
                type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/transferResponse"
        "400":
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
        "401":
          description: Error
          schema:
            $ref: "#/definitions/TransferErrorResponse"
  /transferWithScatter:
    x-swagger-router-controller: transferWithScatter
    post:
      tags:
        - Transfer API {EOS & Derivative Tokens}
      description: Returns transaction response to transfer on-chain action {from account} {to account} {amount} {memo} {sig} {transactionHeaders}
      operationId: transferWithScatter
      parameters:
        - name: body
          in: body
          description: Body should encapsulate {from=Account to transfer from}, {to=Account to transfer to}, {amount=amout to transfer such as 1.0000 EOS or 1.0000 IQ},{memo=memo for the transfer which is a string such as 'UUID' or 'deposit into exchange for 78934'}, {sig=scatter signed arbitrary signature + nonce}, {transactionHeaders}
          required: true
          schema:
            properties:
              from:
                type: string
              to:
                type: string
              amount:
                type: string
              memo:
                type: string
              sig:
                type: string
              transactionHeaders:
                type: object
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/transferResponse"
        "400":
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
        "401":
          description: Error
          schema:
            $ref: "#/definitions/TransferErrorResponse"
  /transaction/{id}:
    x-swagger-router-controller: getTransaction
    get:
      tags:
        - Base API {account,tokens,transaction,actions}
      description: Returns transaction details of a previously executed on-chain transaction. Used to validate with certainty successfull completion, and or reversed transaction.
      operationId: getTransaction
      parameters:
        - name: id
          in: path
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/transferResponse"
        "400":
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /getAccount/{account}:
    x-swagger-router-controller: getAccount
    get:
      tags:
        - Base API {account,tokens,transaction,actions}
      description: Returns EOS blockchain account details including avail or staked RAM, CPU.
      operationId: getAccount
      parameters:
        - name: account
          in: path
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/transferResponse"
        "400":
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /getActions:
    x-swagger-router-controller: getActions
    get:
      tags:
        - Base API {account,tokens,transaction,actions}
      description: Returns actions the given account partook in along with the transaction details. Use pos and offset as a cursor to navigate the items.
      operationId: getActions
      parameters:
        - in: query
          name: account
          required: true
          type: string
        - in: query
          name: pos
          required: false
          type: integer
        - in: query
          name: offset
          required: false
          type: integer
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/transferResponse"
        "400":
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /getProducers:
    x-swagger-router-controller: getProducers
    get:
      tags:
        - Block Producer API {Producer List, Voting & Unstaking} *mainnet
      description: Returns the list of 21 producers.
      operationId: getProducers
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/transferResponse"
        "400":
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /voteProducer:
    x-swagger-router-controller: voteProducer
    post:
      tags:
        - Block Producer API {Producer List, Voting & Unstaking} *mainnet
      description: Lets you vote for a specific producer account
      operationId: voteProducer
      parameters:
        - name: body
          in: body
          description: Body should encapsulate {voter=Account to transfer from}, {producer=comma seperated values of producers to vote for},{sig=voter signature}
          required: true
          schema:
            properties:
              voter:
                type: string
              producer:
                type: string
              sig:
                type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/transferResponse"
        "400":
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
        "401":
          description: Error
          schema:
            $ref: "#/definitions/TransferErrorResponse"
  /undelegate:
    x-swagger-router-controller: undelegate
    post:
      tags:
        - Block Producer API {Producer List, Voting & Unstaking} *mainnet
      description: Undelegate specific NET and CPU bandwidth
      operationId: undelegate
      parameters:
        - name: body
          in: body
          description: Body should encapsulate {from=account undelegating bandwidth}, {receiver=account to undelegate bandwidth from},{net=amount of EOS to undelegate for network bandwidth},{cpu=amount of EOS to undelegate for CPU bandwidth},{sig=voter signature}
          required: true
          schema:
            properties:
              from:
                type: string
              receiver:
                type: string
              net:
                type: string
              cpu:
                type: string
              sig:
                type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/transferResponse"
        "400":
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
        "401":
          description: Error
          schema:
            $ref: "#/definitions/TransferErrorResponse"
  /getBandwidth/{account}:
    x-swagger-router-controller: getBandwidth
    get:
      tags:
        - Block Producer API {Producer List, Voting & Unstaking} *mainnet
      description: Returns account bandwidth staked in EOS for network and cpu.
      operationId: getBandwidth
      parameters:
        - name: account
          in: path
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/transferResponse"
        "400":
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /buyRam:
    x-swagger-router-controller: buyRam
    post:
      tags:
        - Block Producer API {Producer List, Voting & Unstaking} *mainnet
      description: Buy Ram
      operationId: buyRam
      parameters:
        - name: body
          in: body
          description: Body should encapsulate {payer=account paying for RAM}, {receiver=account receiving RAM},{quant=amount of EOS to pay for RAM},{sig=payer signature}
          required: true
          schema:
            properties:
              payer:
                type: string
              receiver:
                type: string
              quant:
                type: string
              sig:
                type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/transferResponse"
        "400":
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
        "401":
          description: Error
          schema:
            $ref: "#/definitions/TransferErrorResponse"
  /buyRamBytes:
    x-swagger-router-controller: buyRamBytes
    post:
      tags:
        - Block Producer API {Producer List, Voting & Unstaking} *mainnet
      description: Buy Ram in specified bytes
      operationId: buyRamBytes
      parameters:
        - name: body
          in: body
          description: Body should encapsulate {payer=account paying for RAM}, {receiver=account receiving RAM},{bytes=RAM in bytes},{sig=payer signature}
          required: true
          schema:
            properties:
              payer:
                type: string
              receiver:
                type: string
              bytes:
                type: integer
              sig:
                type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/transferResponse"
        "400":
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
        "401":
          description: Error
          schema:
            $ref: "#/definitions/TransferErrorResponse"
  /sellRamBytes:
    x-swagger-router-controller: sellRamBytes
    post:
      tags:
        - Block Producer API {Producer List, Voting & Unstaking} *mainnet
      description: Sell Ram in specified bytes
      operationId: sellRamBytes
      parameters:
        - name: body
          in: body
          description: Body should encapsulate {account=account selling RAM},{bytes=RAM in bytes},{sig=payer signature}
          required: true
          schema:
            properties:
              account:
                type: string
              bytes:
                type: integer
              sig:
                type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/transferResponse"
        "400":
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
        "401":
          description: Error
          schema:
            $ref: "#/definitions/TransferErrorResponse"
  /getRamPrice:
    x-swagger-router-controller: getRamPrice
    get:
      tags:
        - Block Producer API {Producer List, Voting & Unstaking} *mainnet
      description: Returns RAM prices based on supply/quote and the Bancor algorithm
      operationId: getRamPrice
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/transferResponse"
        "400":
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /swagger:
    x-swagger-pipe: swagger_raw
# complex objects have schema definitions
definitions:
  infoResponse:
    properties:
      server_version:
        type: string
      chain_id:
        type: string
      head_block_num:
        type: integer
      last_irreversible_block_num:
        type: integer
      last_irreversible_block_id:
        type: string
      head_block_producer:
        type: string
      virtual_block_cpu_limit:
        type: integer
      virtual_block_net_limit:
        type: integer
      block_cpu_limit:
        type: integer
      block_net_limit:
        type: integer
  ErrorResponse:
    properties:
      error:
        type: string
  TransferErrorResponse:
    properties:
      error:
        type: string
  tokenResponse:
    type: array
    items:
      type: object
      example: { name: Everipedia, contract: everipediaiq, symbol: IQ }
  tokensByAccountResponse:
    type: array
    items:
      type: object
      example:
        {
          account: gi3dcnjshege,
          contract: everipediaiq,
          symbol: IQ,
          balance: "5223.0000",
        }
  transferResponse:
    type: object
    items:
      type: object
      example: { object: value }
